

@import 'about-us.css';
@import 'cleoBreack.css';
@import 'contact.css';
@import 'footer.css';
@import 'header.css';
@import 'home-intru.css';
@import 'news.css';
@import 'portfolio.css';
@import 'prossess-work.css';
@import 'services.css';
@import 'works.css';

@font-face{
    src: url(../fonts/dana/dana\ light.ttf);
    src: url(../fonts/dana/dana\ medium.ttf);
    font-family: "light";
}


html {
    scroll-behavior: smooth;
}
section {
    scroll-margin-top: 85px !important;

}
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'light';
}

a{
    text-decoration: none;
}
p{
    text-align: justify;
}

/* header */
body {
    height: 1800px;
}




.png {
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 80%;
    direction: rtl;

}




/* portfolio */

.portfolio,
.services,
.news,
.contact 
{
    padding: 70px 0 70px;
}


/* services */

.services-container {
    width: 100%;
    padding: 0 15px;
}
.services-items {
    display: inline-block;
    width: 100%;

}
.services-item__content {
    width: 100%;
    margin-bottom: 20px;
}
.services-item {
    width: 100%; 
    background-color: #F8F8FC;
    border-radius: 17px;
    padding: 15px;
    transition: all 0.9s ease;
    box-shadow: 0 2px 8px rgba(99, 99, 99, 0.2);
    position: relative;
}
.services-item::after,.services-item::before{
    content: "";
    position: absolute;
    width: 19%;
    height: 19%;
    transition: all 0.7s;
}
.services-item::after{
    top: -1px;
    left: -2px;

    /* top: -2px;
    left: -2px; */
    border-top: 5px solid;
    border-left: 5px solid;
    border-top-left-radius: 20px;
}
.services-item::before{
    bottom: -1px;
    right: -2px;
    /* bottom: -2px;
    right: -2px; */
    border-bottom: 5px solid;
    border-right: 5px solid;
    border-bottom-right-radius: 20px;
}
.web-icon::after, .web-icon::before{
    border-color: #FF6600;
}
.mobile-icon::after, .mobile-icon::before{
   /* border-color: #FFCD2E; */
   border-color: aqua;

}
.html-icon::after, .html-icon::before{
    border-color: #33A9DC;
}
.wordpress-icon::after, .wordpress-icon::before{
    border-color:  #464342; 
}
.brand-icon::after, .brand-icon::before{
    border-color: #DA588B;
}
.stra-icon::after, .stra-icon::before{
    border-color: #A694FE;
}
.services-item__content:hover .services-item::before{
    width: 93%;
    height: 87%;
}
.services-item__content:hover .services-item::after{
    width: 93%;
    height: 87%;
}
.services-item h5 {
    font-size: 20px;
    margin: 0 0 10px;
    color: #020312;
}
.services-item p {
    font-size: 16px;
    margin: 0 0 16px;
    color: #717e96;
}
.services-item:hover span,
.services-item:hover h5,
.services-item:hover p {
    cursor: pointer;
    transition: all 0.7s ease;
}
.services-item h5 {
    font-size: 20px;
    margin: 0 0 10px;
    color: #020312;
}
.services-item p {
    font-size: 16px;
    margin: 0 0 16px;
    color: #717e96;
} 

/* works */
.works-content {
    background-color: #717E96;
    border-radius: 15px;
    text-align: right;
    padding: 40px; 
    width: 90%;
    margin: auto;
}

.works-btn{
    text-align: left;
}

.works-h4 h4 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 5px;
    text-align: right;
}
.works-btn button {
    padding: 12px 30px;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #fff;
    background-color: #415678;
    font-size: 15px;
    cursor: pointer;
    transition: .5s ease-out;
}
.works-btn button:hover {
    background-color: #58739f;
}
/*news */
.news{
    background: url(../imeges/13.jpg)
}
.news-desc,
.news-image,
.news-image_container {
    display: inline-block;
}
.news-desc {
    width: 570px;
    text-align: right;
    vertical-align: top;
}


.news-image {
    width: 285px;

    text-align: right;
    overflow: hidden;
    
}
.news-image img {
    width: 100%;
    border-radius: 15px;
    margin: 0 0 20px;
    z-index: 1000;
    transition: all 0.7s ease;
    position: relative;
    top: 8px;
    object-fit: contain;
}
.news-image img:hover {
    transform: scale(1.07);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
 
}
.news-image h4{
    font-size: 17px;
    margin: 17px 0 0 ;
    font-weight: 700;
}

.news-image p{
    font-size: 14px;
    margin: 12px 0 0;
    color: #717e96;
    text-align: right;
}
.news-desc p {
    font-size: 16px;
    margin: 0 0 16;
    color: #717e96
}
.news-desc h5 {
    font-size: 18px;
    margin: 0 0 10px;
}
.news-desc h3 {
    font-size: 36px;
    font-weight: 800;
    background-color: transparent !important;
    margin-bottom: 15px;
}

/* contact */
.contact{
    background: url(../imeges/8.png); 
    background-color:rgb(233, 243, 249); 
}
.contact-h5{
    color: #020312 !important;
    padding-top: 20px;
}
.form-container {
    width: 730px;
}
.info-container {
    width: 100%;
    text-align: right;
    vertical-align: top;
}
.info-container h5 {
    margin: 35px 0 15px;
    font-size: 20px;
    color: #020312;
}
.info-container h5:first-of-type{
    margin: 0 0 15px;
}
.info-container p {
    margin: 0 0 16px;
    color: #717E96;
    font-weight: 100;
}
.form-container,
.info-container {
    display: inline-block;
}
input,
textarea {
    width: 100%;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    background-color: #7288ad !important;
    font-size: 15px;
    text-align: right;
    margin-bottom: 30px;
}
input:focus,
textarea:focus {
    outline: none; 
    border: none;
}
input::placeholder,
textarea::placeholder {
    color: #0f0d0d;
}
textarea {
    height: 149px;
    resize: none;
    margin-bottom: 20px;
}
.name,
.email {
    width: 49.5%;
    display: inline-block;
    padding-top: 25px;
}
.form-container{
    background-color: #58739f;
}
form button {
    color: #ffffff;
    background-color: #415678;
    font-size: 15px;
    padding: 12px 30px;
    border: none;
    border-radius: 7px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.7s ease;
    margin-bottom: 20px;
}
/* footer */
.footer-box-container {
    text-align: left;
}
footer {
    padding: 90px 0 80px;
    background-color: #020312;
    border-bottom: 1px solid #415678;
    text-align: center;
}
.footer-bottom {
    padding: 35px 0;
    background-color: #020312;
    text-align: center;
}
.footer-bottom span {
    font-size: 16px;
    color: #717E96;
}
.footer-box {
    width: 23%;
    display: inline-block; 
    text-align: right;
}
.footer-box h5 {
    margin: 0 0 15px;
    font-size: 20px;
    color: #FFFFFF;
}
.footer-box ul li {
    margin: 0 0 8px;
    color: #717E96;
}
.footer-box a {
    color: #717E96;
    font-size: 16px;
    font-weight: 10;
}
ul li {
    list-style-type: none;
}

ul li i {
    margin: 0 0 0 10px;
}
.footer-logo {
    margin: 0 0 15px;
}
.footer-logo img {
    width: 55px;
    height: 46px;
}
.footer-box p {
    font-size: 16px;
    margin: 0 0 16px;
    color: #717E96;
}










/* From Uiverse.io by krlozCJ */ 
.container {
    position: relative;
    --size-button: 40px;
    color: white;
  }
  
  .input {
    padding-left: var(--size-button);
    /* height: var(--size-button); */
    height: 60px;
    font-size: 15px;
    border: none;
    color: #fff;
    outline: none;
    /* width: var(--size-button); */
    width: 2px;
    transition: all ease 0.3s;
    background-color: #191A1E;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .input:focus,
  .input:not(:invalid) {
    width: 200px;
    cursor: text;
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
  }
  
  .input:focus + .icon,
  .input:not(:invalid) + .icon {
    pointer-events: all;
    cursor: pointer;
  }
  
  .container .icon {
    position: absolute;
    width: var(--size-button);
    height: var(--size-button);
    top: 0;
    left: 0;
    padding: 8px;
    pointer-events: none;
  }
  
  .container .icon svg {
    width: 10%;
    height: 10%;
  }